.venv

.env.dev
/external_jars/
external_jars/*
/jars/
/parquet_data/
/parquet_batch_output/
/parquet_output_ankur/
/parquet_output/
/parquet_last9_output/
/last9_raw_layer/
/last9_silver_layer/
/local_scripts/
